@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');


.e{
    border:1px solid;
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 1050px;
    margin-top: 100px;
}
.f{
    border:1px solid ;
    width: 300px;
    height: 50px;
}

.f h2{
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    margin-top: 5px;
}

